button{
    margin: 2%;
}
button.red{
    background-color: red;
}
button.yellow{
    background-color: yellow;
}
button.blue{
    background-color: blue;
}
button.green{
    background-color: green;
}